    
        <table class="uk-table uk-table-hover uk-table-divider" [routerLink]="['/item', book.id]">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
                <tr>
                          <td>{{book.title}}</td>
                          <td>{{book.status}}</td>
                          <td>{{book.createDate}}</td>
                      </tr>
                  </tbody>
              </table>
