.singleCard:nth-child(odd) {
    /* max-width: 400px; */
    width: 45%;
    float: left;
    padding-top: 5%;
    padding-left: 5%;
  }
  .singleCard:nth-child(even) {
    /* max-width: 400px; */
    width: 45%;
    float: left;
    margin-left: 10%;
    padding-top: 5%;
    
  }
  