<body>
    <div class="container">
        <div class="box">
            <div class="content">
                <img src="../../../assets/img.png" class="quote">
                <p>“Books are the perfect entertainment: no commercials, no batteries, hours of enjoyment for each dollar spent. What I wonder is why everybody doesn't carry a book around for those inevitable dead spots in life.”</p>
                <img src="../../../assets/ski.jpg" class="user">
                <h3>Stephen King</h3>
            </div>

        </div>

        <div class="box">
            <div class="content">
                <img src="../../../assets/img.png" class="quote">
                <p>“Life’s but a walking shadow, a poor player, that struts and frets his hour upon the stage, and then is heard no more; it is a tale told by an idiot, full of sound and fury, signifying nothing.”</p>
                <img src="../../../assets/1200px-Shakespeare.jpg" class="user">
                <h3>William Shakespeare</h3>
            </div>

        </div>

        <div class="box">
            <div class="content">
                <img src="../../../assets/img.png" class="quote">
                <p>“If one cannot enjoy reading a book over and over again, there is no use in reading it at all.”</p>
                <img src="../../../assets/oWilde.jpg" class="user">
                <h3>Oscar Wilde</h3>
            </div>

        </div>

    </div>
</body>
