<body>
  <mat-card class="example-card" *ngIf="user">
    <div mat-card-avatar class="vulnerable-image"></div>
    <mat-card-header>
      <mat-card-title class="username">{{user.username}}</mat-card-title>
    </mat-card-header>
    <br>
    <img mat-card-image src="../../../assets/images.png" alt="Photo of a User">
    <mat-card-content class="da">
      <br>
      <p>Last login: {{user.lastLogin}} </p>
      <p>
        Email Address: {{user.email}}
      </p>
      <p>
        Reviews: {{user.numberOfReviews}}
      <br>

      
    </mat-card-content>
  </mat-card>
  <br>
  <div class="text-reviews">All your reviews:</div>

    <app-all-reviews-user></app-all-reviews-user>
</body>
