.example-card {
    max-width: 300px;
    margin-left: 35%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .username {
       margin-left: 130%;
  }

  .vulnerable-image {
    background-image: url('https://i7.pngguru.com/preview/966/803/700/check-mark-tick-clip-art-green-tick-mark.jpg');
    background-size: cover;
    margin-left: 90%;
  }

  body {
    background-image: url('../../../assets/two-green-leaves-1084510.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  img {
    padding-left: 30px;
  }

  .text-reviews {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 250px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.da {
  margin-left: 10%;
}