html,
body {
    height: 100%;
}

body {
    padding-top: 4em;
    background-color: #ecf0f1;
}

.mat-dialog-container {
    width: 500px !important;
    height: 400px !important;
}

body {
    background-image: url('./assets/two-green-leaves-1084510.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }