
table {
    width: 100%;
  }

.writers {
    text-align: center;
  }

*{
padding: 0;
margin: 0;
font-family: "Times New Roman", Times, serif;
font-style: italic
}
.container {
    text-align: center;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.container span {
    
    text-transform: uppercase;
    display: block;
}
.text1 {
    color: black;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 36px;
    position: relative;
    animation: text 3s 1;
}

.text2 {
    font-size: 30px;
    color: rgb(67,167,71);

}

.text3 {
    font-size: 30px;
    color: rgb(67,167,71);
    margin-bottom: 16px;
    position: relative;

}

@keyframes text {
    0% {
        color: white;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}


body {
    background-image: url('../../../assets/two-green-leaves-1084510.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }