<body>
  <div class="container">
      <span class="text1">Welcome</span>
      <span class="text3">to</span>
      <span class="text2">Telerik New Library</span>
  
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  
  <div>
  <br>
  <br>
      <mat-grid-list cols="3" rowHeight="2:2">
          <mat-grid-tile><img src="../../../assets/9781526620293_311606.png" alt="Harry Potter books"></mat-grid-tile>
          <mat-grid-tile><img src="../../../assets/The-Last-Song-Movie-Poster-1262777661.jpg" alt="books" ></mat-grid-tile>
          <mat-grid-tile><img src="../../../assets/itUse.jpg" alt="books" ></mat-grid-tile>
          <mat-grid-tile><img src="../../../assets/Institute.jpg" alt="Institute-King"></mat-grid-tile>
          <mat-grid-tile><img src="../../../assets/miki.jpg" alt="Disney book"></mat-grid-tile>
          <mat-grid-tile><img src="../../../assets/f48ba275-568a-47d8-b6a5-df6b80205440_1.6e7378c943c30a54c6b616951602abb7.jpeg" alt="Mark Twain book"><</mat-grid-tile>
        </mat-grid-list>
  
        <br>
        <br>
        <br>
        <h2 class="writers">Top 10 Writerts of All Time</h2>
        <br>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> № </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Books Column -->
            <ng-container matColumnDef="books">
              <th mat-header-cell *matHeaderCellDef> Books </th>
              <td mat-cell *matCellDef="let element"> {{element.books}} </td>
            </ng-container>
          
            <!-- Year Column -->
            <ng-container matColumnDef="year">
              <th mat-header-cell *matHeaderCellDef> Year </th>
              <td mat-cell *matCellDef="let element"> {{element.year}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  </div>
  <br>
  <br>
  <br>

</body>

