<div class="books">
    <div class="info">
        <table class="uk-table uk-table-hover uk-table-divider">
            <thead>
                <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Available Since</th>
                </tr>
            </thead>
        </table>
        
    </div>
    <app-single-books *ngFor="let bookData of books" [book]="bookData"></app-single-books>
</div>

