.register-container {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}