<div class="register-container">
    <mat-card class="register-card">

        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="this.registerForm" (ngSubmit)="this.register(usernameInput.value, passwordInput.value, emailInput.value)">

                <mat-form-field>
                    <input matInput #usernameInput placeholder="Username" name="username" required formControlName="username">

                    <mat-error *ngIf="this.registerForm.controls.username.errors?.required">
                        Username is required!
                    </mat-error>
                    <mat-error *ngIf="this.registerForm.controls.username.errors?.minlength">
                        Username must be at least 2 symbols long!
                    </mat-error>
                    <mat-error *ngIf="this.registerForm.controls.username.errors?.maxlength">
                        Username must not be more than 12 symbols!
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput #passwordInput placeholder="Password" type="password" name="password" required formControlName="password">

                    <mat-error *ngIf="this.registerForm.controls.password.errors?.required">
                        Password is required!
                    </mat-error>
                    <mat-error *ngIf="this.registerForm.controls.password.errors?.pattern">
                        Passwords must have minimum five characters, at least one letter and one number!
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field>
                    <input matInput #emailInput placeholder="Email Address" name="email" required formControlName="email">

                    <mat-error *ngIf="this.registerForm.controls.email.errors?.required">
                        EmailAddress is required!
                    </mat-error>
                    <mat-error *ngIf="this.registerForm.controls.email.errors?.minlength">
                        EmailAddress must be at least 2 symbols long!
                    </mat-error>
                    <mat-error *ngIf="this.registerForm.controls.email.errors?.maxlength">
                        EmailAddress must not be more than 24 symbols!
                    </mat-error>
                </mat-form-field>

                <br />

                <button mat-raised-button color="primary" type="submit" [disabled]="this.registerForm.invalid">Register</button>
            </form>
        </mat-card-content>

    </mat-card>
</div>