<body>
  <h1>Search by Title or Author</h1>
  <div class="evre">
    <div class="SearchBottons">
        <br>
        <mat-form-field class="example-form-field">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search..." [(ngModel)]="keyword" type="text">
          <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="triggerSearch()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button (click)="triggerSearch()">Search</button>
      </div>
      
      <div *ngFor="let book of books">
        <br>
        <div>
      
          <mat-card class="example-card" [routerLink]="['/item', book.id]">
            <mat-card-header>
              <div mat-card-avatar class="Detail"></div>
              <mat-card-title>{{book.title}}</mat-card-title>
              <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <br>
              
                <mat-list-item>Book Preview:
                  <br>
                  <br>
                   {{book.preview}}</mat-list-item>
            <mat-divider></mat-divider>
            <br>
            <br>
            <mat-list-item>Status of the book: {{book.status}}</mat-list-item>
            <mat-divider></mat-divider>
            <br>
            <mat-divider></mat-divider>
            <br>
            <br>
            <mat-list-item>Date: {{book.createDate}}</mat-list-item>
              
            </mat-card-content>
            
          </mat-card>
          <br>
        </div>
        
      </div>
  
  </div>

</body>
  