.SearchBottons {
    padding-top: 1%;
    
}
h1 {
    padding-top: 0.2%;
    padding-left: 42%;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 40px;
}
.mat-raised-button {
    margin-left: 3%;
}

.evre {
    /* padding-top: 1%; */
    padding-left: 4%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .example-card {
    max-width: 400px;
  }


.example-form-field {
    width: 460px;
  }

  .Detail {
    background-image: url('https://img.icons8.com/cute-clipart/64/000000/book.png');
    background-size: cover;
  }

  body {
    background-image: url('../../../assets/two-green-leaves-1084510.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }