<body>
    <div class="box">
        <div class="imgBx">
            <img src="../../../assets/96588853_3002742709813853_8010298325561507840_o.jpg">
        </div>
        <div class="content">
    <h2>Mitko Antov<br><span>Library Manager</span></h2>
        </div>
    
    </div>
    
    <div class="box">
        <div class="imgBx">
            <img src="../../../assets/100753884_2566353966936372_6124723651582361600_o.jpg">
        </div>
        <div class="content">
    <h2>Tsvetina Tsaneva<br><span>Library Staff</span></h2>
        </div>
    
    </div>
    
    <div class="box">
        <div class="imgBx">
            <img src="../../../assets/15800049_1285563141486733_1990089099215929757_o.jpg">
        </div>
        <div class="content">
    <h2>Evgeni Gaydarov<br><span>Library Staff</span></h2>
        </div>
    
    </div>

    <div class="box">
        <div class="imgBx">
            <img src="../../../assets/61605317_2793158114044671_1441650535051558912_n.jpg">
        </div>
        <div class="content">
    <h2>Plamena Lazarova<br><span>Library Staff</span></h2>
        </div>
    
    </div>

</body>
