@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    /* background: #010615; */

}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    background: linear-gradient(235deg,#B0C087,#010615, #26522F);
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5s;

}

.box:hover {
    height: 400px;
}

.box:before {
content: '';
position: absolute;
top: -2px;
left: -2px;
right: -2px;
bottom: -2px;
background: #fff;
z-index: -1;

}

.box:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
    
    }

    .box:after,
    .box:before {
        background-image: linear-gradient(235deg,#89ff00,#010615, #00bcd4);
    }

    .box:nth-child(2):after,
    .box:nth-child(2):before {
        background-image: linear-gradient(235deg,#ff005e,#010615, #fbff00);
    }

    .box:nth-child(3):after,
    .box:nth-child(3):before {
        background-image: linear-gradient(235deg,#772aff,#010615, #2196F3);
    }

.box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;

}

.box .imgBx img {
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;

}

.box:hover .imgBx img {
    opacity: 1;
}

.box .content {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.box:hover .content {
    opacity: 1;
}

.box .content h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;

}

.box .content h2 span {
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    letter-spacing: 2px;

}
