.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .example-tab-icon {
    margin-right: 8px;
  }

  .xD {
    position: relative;
    padding-top: 10%;
    padding-left: 3%;
}
.mat-stroked-button {
  margin-left: 1%;
}

.example-form-field {
  width: 280px;
}

.btnsx {
  margin-left: 40px;
}

.example-header-image {
  background-image: url('https://cdn3.iconfinder.com/data/icons/essentials-volume-7-1/128/shield-8-2-512.png');
  background-size: cover;
}
.singleCard {
  padding-top: 1%;
}
.Detail {
  background-image: url('https://img.icons8.com/cute-clipart/64/000000/book.png');
  background-size: cover;
}

.example-card {
  height: 420px;
  max-width: 450px
}

.wholeThing {
    width: 60%;
    margin-top: 3%;
    margin-left: 20%;
}

.needBorder {
  border-style: groove;
}

.uk-legend {
  padding-left: 30px;
}

.reviewField {
  width: 87%;
}

body {
  background-image: url('../../../assets/two-green-leaves-1084510.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

mat-expansion-panel {
  background: rgb(190,213,170);
  

}