<body>

  <div class="wholeThing">
    
    <mat-accordion *ngIf="book">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Book Details:
          </mat-panel-title>
          <mat-panel-description>
            This is a short summary of the {{book.title}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p><mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="Detail"></div>
            <mat-card-title>{{book.title}}</mat-card-title>
            <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <br>
            
              <mat-list-item>Book Preview:
                <br>
                <br>
                 {{book.preview}}</mat-list-item>
          <mat-divider></mat-divider>
          <br>
          <br>
          <mat-list-item>Status of the book: {{book.status}}</mat-list-item>
          <mat-divider></mat-divider>
          <br>
          <mat-divider></mat-divider>
          <br>
          <br>
          <mat-list-item>Date: {{book.createDate}}</mat-list-item>
            
          </mat-card-content>
          
        </mat-card>
    </p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Book Reviews: {{book.numberOfReviews}}
          </mat-panel-title>
          <mat-panel-description>
            Currently all reviews are {{panelOpenState ? 'open' : 'hidden'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br>
  
        <div class="review-container">
  
          <mat-card class="review-card">
    
            <mat-card-header>
                <mat-card-title>Add Review</mat-card-title>
            </mat-card-header>
            <br>
    
            <mat-card-content>
                <form [formGroup]="this.addReviewForm" (ngSubmit)="this.addReview(book.id,contentInput.value, raitingInput.value)">
    
                    <mat-form-field class="reviewField">
                        <input matInput #contentInput placeholder="Content" name="textOfReview" required formControlName="textOfReview">
    
                        <mat-error *ngIf="this.addReviewForm.controls.textOfReview.errors?.required">
                            Content is required!
                        </mat-error>
                        <mat-error *ngIf="this.addReviewForm.controls.textOfReview.errors?.minlength">
                            Content must be at least 2 symbols long!
                        </mat-error>
                        <mat-error *ngIf="this.addReviewForm.controls.textOfReview.errors?.maxlength">
                            Content must not be more than 100 symbols!
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <br>
                    <mat-form-field class="reviewField2">
                        <input matInput  #raitingInput placeholder="Raiting (0-5)"  name="raitingOfReview" required formControlName="raitingOfReview">
    
                        <mat-error *ngIf="this.addReviewForm.controls.raitingOfReview.errors?.required">
                            Raiting is required!
                        </mat-error>
                        <mat-error *ngIf="this.addReviewForm.controls.raitingOfReview.errors?.minlength">
                            Raiting must be at least 0 stars!
                        </mat-error>
                        <mat-error *ngIf="this.addReviewForm.controls.raitingOfReview.errors?.maxlength">
                            Raiting must not be more than 5 stars!
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit" [disabled]="this.addReviewForm.invalid">Add</button>
                  
                </form>
                <!-- <br> -->
            </mat-card-content>
    
        </mat-card>
        </div>
  
      <br>
      <br>
      <br>
  
      <p>All Reviews of {{book.title}}:</p>
        <app-all-reviews></app-all-reviews>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</body>

