img {
    height: 40px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.alltogether {
    margin-top: 3%;
}

.uk-badge {
    background: rgb(228,141,98);
}

.starIcon {
    color: rgb(255,188,0) ;
} 

.actionButtons {
    margin-left: 80%;
}

.reviewField {
    width: 87%;
  }

  .mat-card {
    height: 260px;
}

mat-expansion-panel {
    background: rgb(228,234,215);
    
  
  }