
<div class="alltogether">
  <div class="uk-card uk-card-default uk-width-1-2@m">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="../../../../assets/images.png">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{review.username}}</h3>
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">{{review.createDate}}</time></p>
            </div>
        </div>
        <br>
        <span class="uk-badge">{{review.raiting}}/5</span>
        <div>
          <mat-icon *ngIf="+review.raiting == 0" class="starIcon">star_half</mat-icon>
          <mat-icon *ngIf="+review.raiting == 1" class="starIcon">star</mat-icon>
          <mat-icon *ngIf="+review.raiting == 2" class="starIcon">star</mat-icon>
          <mat-icon *ngIf="+review.raiting == 2" class="starIcon">star</mat-icon>
          <mat-icon *ngIf="+review.raiting == 3" class="starIcon">star</mat-icon>
          <mat-icon *ngIf="+review.raiting == 3" class="starIcon">star</mat-icon>
          <mat-icon *ngIf="+review.raiting == 3" class="starIcon">star</mat-icon>
          <mat-icon *ngIf="+review.raiting == 4" class="starIcon">star</mat-icon>
          <mat-icon *ngIf="+review.raiting == 4" class="starIcon">star</mat-icon>
          <mat-icon *ngIf="+review.raiting == 4" class="starIcon">star</mat-icon>
          <mat-icon *ngIf="+review.raiting == 4" class="starIcon">star</mat-icon>
          <mat-icon *ngIf="+review.raiting == 5" class="starIcon">star</mat-icon>
          <mat-icon *ngIf="+review.raiting == 5" class="starIcon">star</mat-icon>
          <mat-icon *ngIf="+review.raiting == 5" class="starIcon">star</mat-icon>
          <mat-icon *ngIf="+review.raiting == 5" class="starIcon">star</mat-icon>
          <mat-icon *ngIf="+review.raiting == 5" class="starIcon">star</mat-icon>

        </div>
    </div>
    <div class="uk-card-body">
        <p>{{review.content}}</p>
    </div>
    <div class="uk-card-footer">
        <mat-accordion *ngIf="this.isRightPerson">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Update:
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="review-container">
  
                <mat-card class="review-card">
          
                  <mat-card-header>
                      <mat-card-title>Update Review</mat-card-title>
                  </mat-card-header>
                  <br>
          
                  <mat-card-content>
                      <form [formGroup]="this.updateReviewForm" (ngSubmit)="this.updateReview(review.bookId, review.id, contentInput.value, raitingInput.value)">
          
                          <mat-form-field class="reviewField">
                              <input matInput #contentInput placeholder="Content" name="textOfReview" required formControlName="textOfReview">
          
                              <mat-error *ngIf="this.updateReviewForm.controls.textOfReview.errors?.required">
                                  Content is required!
                              </mat-error>
                              <mat-error *ngIf="this.updateReviewForm.controls.textOfReview.errors?.minlength">
                                  Content must be at least 2 symbols long!
                              </mat-error>
                              <mat-error *ngIf="this.updateReviewForm.controls.textOfReview.errors?.maxlength">
                                  Content must not be more than 100 symbols!
                              </mat-error>
                          </mat-form-field>
                          <br>
                          <br>
                          <mat-form-field class="reviewField2">
                              <input matInput  #raitingInput placeholder="Raiting (0-10)"  name="raitingOfReview" required formControlName="raitingOfReview">
          
                              <mat-error *ngIf="this.updateReviewForm.controls.raitingOfReview.errors?.required">
                                  Raiting is required!
                              </mat-error>
                              <mat-error *ngIf="this.updateReviewForm.controls.raitingOfReview.errors?.minlength">
                                  Raiting must be at least 0 stars!
                              </mat-error>
                              <mat-error *ngIf="this.updateReviewForm.controls.raitingOfReview.errors?.maxlength">
                                  Raiting must not be more than 5 stars!
                              </mat-error>
                          </mat-form-field>
                          <button mat-raised-button color="primary" type="submit" [disabled]="this.updateReviewForm.invalid">Update</button>
                        
                      </form>
                      <!-- <br> -->
                  </mat-card-content>
          
              </mat-card>
              </div>
              <br>
              <br>
            </mat-expansion-panel>
          </mat-accordion>
          <br>
        <div class="actionButtons">
            <button *ngIf="this.isRightPerson" mat-button color='warn'  (click)="this.deleteReview()">Delete</button>

        </div>

    </div>
</div>

</div>


