<mat-toolbar class="nav-container">
    <button *ngIf="!this.loggedUserData" mat-button class="home-button" [routerLink]="['/home']">
    <mat-icon>home</mat-icon>Home
  </button>

    <button *ngIf="this.loggedUserData" mat-button [routerLink]="['/books']">
    <mat-icon>subject</mat-icon>All Books
  </button>
  <button *ngIf="this.loggedUserData" mat-button [routerLink]="['/writers']">
    <mat-icon>emoji_events</mat-icon>Top 3 Writers
  </button>
  <button *ngIf="this.loggedUserData" mat-button [routerLink]="['/staff']">
    <mat-icon>people</mat-icon>Staff
  </button>

  
    <div class="nav-right">
      <button *ngIf="this.loggedUserData" mat-button [routerLink]="['/search']">
        <mat-icon>search</mat-icon>Search
      </button>
        <div *ngIf="!this.loggedUserData">
            <button mat-button [routerLink]="['auth/login']" [routerLinkActive]="'nav-link-active'">
        <mat-icon>person</mat-icon>Sign in
      </button>
        </div>

        <div *ngIf="this.loggedUserData">
            <button mat-button [routerLink]="['/users', loggedUserData.id]">
        <mat-icon>person</mat-icon>
        {{this.loggedUserData.username}}
      </button>
        </div>

        <!-- ///////////////////////////////////// -->
        <div *ngIf="!this.loggedUserData">
            <button mat-button [routerLink]="['auth/register']" [routerLinkActive]="'nav-link-active'">
      <mat-icon>how_to_reg</mat-icon>Register
    </button>
        </div>
        <div *ngIf="this.loggedUserData">
            <button mat-button (click)="this.authService.logOutUser() " [routerLink]="['/home']" [routerLinkActive]="'nav-link-active'" (click)="this.logout()">
    <mat-icon class="logout-icon" (click)="searchPost()">exit_to_app</mat-icon>
    Logout
  </button>
        </div>

    </div>
</mat-toolbar>