.nav-container {
    top: 0px;
    right: 1px;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(235deg,#FBFCFE,#D5E3C2, #75AB60);
    position: fixed;
}
.nav-right {
    display: flex;
    margin-left: auto;
}


.search-icon {
    color: white;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #3f51b5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-input {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 14px;
    transition: 0.4s;
    line-height: 20px;
    width: 0px;
}

.search-input::placeholder {
    color: white;
}