<div class="login-container">
    <mat-card class="login-card">

        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="this.loginForm" (ngSubmit)="this.loginUser(this.loginForm.value)">

                <mat-form-field>
                    <input matInput placeholder="Username" name="username" required formControlName="username">

                    <mat-error *ngIf="this.loginForm.controls.username.errors?.required">
                        Username is required!
                    </mat-error>
                    <mat-error *ngIf="this.loginForm.controls.username.errors?.minlength">
                        Username must be at least 2 symbols long!
                    </mat-error>
                    <mat-error *ngIf="this.loginForm.controls.username.errors?.maxlength">
                        Username must not be more than 12 symbols!
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Password" type="password" name="password" required formControlName="password">

                    <mat-error *ngIf="this.loginForm.controls.password.errors?.required">
                        Password is required!
                    </mat-error>
                    <mat-error *ngIf="this.loginForm.controls.password.errors?.pattern">
                        Passwords must have minimum five characters, at least one letter and one number!
                    </mat-error>
                </mat-form-field>

                <br />

                <button mat-raised-button color="primary" type="submit" [disabled]="this.loginForm.invalid">Login</button>
            </form>
        </mat-card-content>

    </mat-card>
</div>