.review {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
}

.review-content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


img {
    height: 40px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.alltogether {
    margin-top: 3%;
    margin-left: 495px;
}

.uk-badge {
    background: rgb(228,141,98);
}

.starIcon {
    color: rgb(255,188,0) ;
} 

.actionButtons {
    margin-left: 80%;
}

.reviewField {
    width: 87%;
  }

  .mat-card {
    height: 260px;
}

mat-expansion-panel {
    background: rgb(228,234,215);
    
  
  }